/* 总体样式 */
*{
    margin:0;
    padding: 0;
}



body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
    font-family: PingFangSC-Light, 'STHeiti Light', 'helvetica neue', 'hiragino sans gb', arial, 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif;
}

img{
    border:0;
}

a{
    text-decoration: none;
}

ol,ul{
    list-style: none;
}

blockquote, body, button, dd, dl, dt, fieldset, figure, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, select, td, textarea, th, ul{
    font-family: PingFangSC-Light,'STHeiti Light','helvetica neue','hiragino sans gb',arial,'microsoft yahei ui','microsoft yahei',simsun,sans-serif;
}



img, input, label, select{
    vertical-align: middle;
}

button, h1, h2, h3, h4, h5, h6, input, select, textarea{
    font-size: 100%;
    font-weight: 400;
    -webkit-font-smoothing:antialiased;
}

.cf::after{
    content:'';
    width:0;
    height:0;
    clear:both;
    overflow: hidden;
}

.w-1000{
    width:1000px;
    margin:0 auto;
}

#header{
    position:relative;
    height:50px;
    padding:10px 0;
    margin:0 auto;
}

#header .logo img{
    width:113px;
    height:41px;
}

#header .search{
    position:absolute;
    width:380px;
    height:38px;
    left:50%;
    top:50%;
    margin-left: -190px;
    margin-top:-19px;
    font-size:12px;
}

#header .search .search-input{
    width:320px;
    height:20px;
    padding:8px;
    border:1px solid #eee;
    font-size:12px;
    float:left;
}

#header .search .search-btn{
    width:40px;
    height:38px;
    background:transparent;
    float:left;
    border:1px solid #eee;
    cursor:pointer;
    margin-left:-1px;
}

#header .search .hot-words{
    position:absolute;
}

#header .search .search-btn:hover{
    background-color:#35b558;
}

#header .search .hot-words{
    position:absolute;
    top:0;
    right:35px;
    width:140px;
}

#header .search .hot-words li{
    display:inline-block;
    text-align:center;
    line-height:35px;
}

#header .hot-words li a{
    color:#999;
    padding:3px;
    background:#eee;
}

#header .user-info{
    position: absolute;
    right:0;
    top:13px;
    width:205px;
}

#header .user-info li{
    display:inline-block;
    width:45px;
    line-height:15px;
    padding:5px;
    text-align: center;
    box-sizing: border-box;
}

.right-border{
    border-right:1px solid #333;
}

#loading{
    height:2px;
    background:#3c763d;
}

#navigation{
    position:relative;
    height:42px;
    box-shadow: 0 3px 3px #eee;

}

#navigation .nav-header > li{
    width:120px;
    line-height:42px;
    text-align: center;
    display:inline-block;
}

#navigation li a{
    color:#444;
}

#navigation li a:hover{
    color:#35b558;
}

#navigation li:nth-child(1) {
    text-align: center;
    width:50px;
}

#navigation .nav-body{
    border:1px solid #eee;
    font-size:12px;
    padding-left:50px;
}