@charset "utf-8";

/*  basic style  */
a, blockquote, body, button, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, img, pre, form, fieldset, input, textarea, p, th, td {
    margin: 0; padding: 0; border: none; outline: none;
}
article, aside, figure, footer, header, main, nav, section {
    display: block;
}
ul, ol, li {
    list-style: none;
}
body, input, textarea {
    color: #666;
    font: 14px/2 "Microsoft YaHei", Verdana, Arial, sans-serif;
}
body {
    width: 100%;min-width:1100px;
}
a {
    color: #224f8b;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.btn {
    display: inline-block;
    *display: inline; *vertical-align: middle; *zoom: 1;
}
.btn:hover {
    text-decoration: none;
}
.seo-text {
    overflow: hidden;
    text-indent: -10000px;
}
.clearfix:after {
    content: ".";
    display: block; clear: both; visibility: hidden;
    height: 0;
}
.clearfix{
    *zoom: 1;
}
.clear{
    clear: both;
    height: 0;
    font-size: 1px;	line-height: 0px;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
/*  basic style end  */

/*  page layout  */
#globalLayout {
    margin: 0 auto;
}

#globalHeader {
    background: url(http://www.zsxmhospital.com/xm/images/bg-header.gif) left 32px repeat-x;
}
.globalHeader-top {
    height: 32px;
    background-color: #fff;
}
.globalHeader-top-main {
    width: 1100px; margin: 0 auto;
    color: #999;
    font-size: 12px; line-height: 30px;
}
.globalHeader-top p {
    float: left;
    margin-left: 14px;
}
.globalHeader-top a {
    float: right;
    margin-right: 14px;
    color: inherit;
}
.globalHeader-main {
    position: relative;
    width: 1100px; height: 178px; margin: 0 auto;
}
.globalHeader-main h1 {
    float: left;
    width: 636px; height: 146px; margin: 16px 0;
    background: url(http://www.zsxmhospital.com/xm/images/h1.png) no-repeat;
}
.globalHeader-main .tool {
    float: left;
    width: 200px; padding: 0 32px;
}
.globalHeader-main .tool-search {
    overflow: hidden; position: relative;
    height: 28px; margin-top: 53px; border: solid 2px #ccc;
    background-color: #fff;
    border-radius: 14px;
}
.globalHeader-main .tool-search input[type=text] {
    width: 220px; height: 100%; padding-left: 14px;
    font-size: 14px; line-height: 28px;
}

.globalHeader-main .tool-search .btn-search {
    position: absolute;
    width: 28px; height: 28px; top: 0; right: 0;
    background: url(http://www.zsxmhospital.com/xm/images/icon-glass.png) center no-repeat;
}
.globalHeader-main .tool-lang {
    height: 28px; margin-top: 8px; border: solid 2px #ccc;
    color: #fff; background-color: #2e5489;
    font-size: 12px; line-height: 26px; text-align: center;
    border-radius: 14px;
}
.globalHeader-main .tool-lang .btn-toggle {
    display: inline-block;
    width: 34px; height: 17px; margin: 0 6px; margin-top: 5px;
    background: url(http://www.zsxmhospital.com/xm/images/btn-toggle.png) left top no-repeat;
    vertical-align: top; *vertical-align: middle;
}
.globalHeader-main .tool-lang-en .btn-toggle {
    background-position: left bottom;
}
.globalHeader-main .QRCode {
    float: right;
    width: 90px; margin-top: 40px;
    color: #b2bfd4;
    font-size: 12px; line-height: 22px; text-align: center;margin-right:8px;
}
.globalHeader-nav {
    height: 42px;
    background-color: #224f8b;
}
.globalHeader-nav ul {
    width: 1100px; height: 100%; margin: 0 auto;
}
.globalHeader-nav li {
    float: left;
    width: 121px; height: 100%;
}
.globalHeader-nav li:first-child {
    width: 124px;
}
.globalHeader-nav li + li {
    border-left: solid 1px #466fa6;
}
.globalHeader-nav li .btn {
    display: block;
    width: 100%; height: 100%;
    color: #fff;
    font-size: 18px; line-height: 40px; text-align: center;
}
.globalHeader-nav li .btn:hover,
.globalHeader-nav li .btn.active {
    background-color: #628dc7;
}

#globalMain {
    overflow: hidden;
}

#globalFooter {
    color: #fff; background-color: #325697;
}
.globalFooter-main {
    width: 1100px; padding-top: 30px; padding-bottom: 20px; margin: 0 auto;
}
.globalFooter-left {
    float: left;
}
.globalFooter-left .copyright {
    height: 72px; padding-left: 84px;
    background: url(http://www.zsxmhospital.com/xm/images/icon-logo-small.png) left center no-repeat;
    line-height: 70px;
}
.globalFooter-left .contact {
    padding: 10px 0;
}
.globalFooter-left .contact span {
    display: block;
    padding-left: 18px;
    background: url(http://www.zsxmhospital.com/xm/images/bullet-square-white.gif) left center no-repeat;
    line-height: 25px;
}
.globalFooter-left .icp {

}
.globalFooter-right {
    float: right;
    width: 460px;
}
.globalFooter-right h2 {
    border-bottom: solid 2px #fff;
    font-size: 20px; line-height: 50px;
}
.globalFooter-right ul {
    width: 100%; padding: 10px 0;
}
.globalFooter-right li {
    float: left;
    width: 46%; padding-left: 4%;
    background: url(http://www.zsxmhospital.com/xm/images/bullet-square-white.gif) left center no-repeat;
    line-height: 25px;
}
.globalFooter-right li a {
    color: #fff;
}
/*  page layout end  */
